@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.inter-regular {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: 400;
      font-variation-settings:
            "slnt" 0;
}

.allura-regular {
      font-family: "Allura", cursive;
      font-weight: 400;
      font-style: normal;
}

* {
      margin: 0px;
      padding: 0px;
}

.header {
      width: 100%;
      height: 700px;
      background: rgba(0, 0, 0, 0.884);
      padding-bottom: 20px;
}

/* nav style stare here */
.navbar {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      padding-top: 30px;
}

.nav-title {
      color: rgb(230, 83, 60);
      font-family: Inter;
      font-size: 2.25rem;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: 0%;
}

.menu {
      display: flex;
}

.menu li {
      list-style: none;
      padding-right: 10px;
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
}

.home {
      border-radius: 46px;
      background: rgb(230, 83, 60);
}

.hamburgur-menu {
      display: none;
}

/* nav style finish here */

/* banner style start here */
.bannar {
      width: 100%;
      margin: 0 auto;
      margin-top: 100px;
      display: flex;
      margin: 0 40px;
}

.bannar-box {
      width: 100%;
      margin-right: 80px;
}

.bannar-title {
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 4.875rem;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: 0%;
      margin-bottom: 20px;
      text-align: left;
}

.button {
      display: flex;
}

.bannar-description {
      color: rgba(255, 255, 255, 0.5);
      font-family: Inter;
      font-size: 1rem;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-align: left;
      margin-bottom: 10px;
}

.btn-join {
      width: 224px;
      height: 54px;
      justify-content: center;
      align-items: center;
      border-radius: 42px;
      background: rgb(230, 83, 60);
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0px;
      box-shadow: none;
      border-style: none;
      margin-right: 10px;
}

.btn-download {
      width: 224px;
      height: 54px;
      justify-content: center;
      align-items: center;
      border-radius: 42px;
      color: rgb(255, 255, 255);
      background-color: black;
      font-family: Inter;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0px;
      box-shadow: none;
      border-style: none;
}

.bannar-img-box {
      margin-left: 100px;
      width: 100%;
      height: 900px;
      background-image: url("../images/Images2.png");
      background-repeat: no-repeat;
}

.box-1 {
      position: relative;
      top: 120px;
      right: 0px;
      left: 220px;
      max-width: 193px;
      height: 98px;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.1);
      color: antiquewhite;
      text-align: center;
      padding-top: 20px;
}

.box-2 {
      display: flex;
      margin: 0 auto;
      position: relative;
      bottom: -280px;
      left: -320px;
      max-width: 193px;
      height: 98px;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.1);
      color: antiquewhite;
      text-align: center;
      padding-top: 20px;
      padding-left: 20px;
}

.round-box {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: red;
      margin-right: 5px;
}

.head {
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 2.5rem;
      font-weight: 900;
      line-height: 40px;
      letter-spacing: 1px;
}

.passage {
      color: rgba(255, 255, 255, 0.65);
      font-family: Inter;
      font-size: 0.81rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 1px;
}